body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUSxgPecQ3UJm_hoHKvEJ5xuVH8nqN9VMa2A&s");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-image: "BookReview/frontend/src/components/writer9_4e3f18f8.jpg";
  opacity: .85;
  color: #000000;
  /* Cream color with 80% opacity */
  padding: 30px;
  border-radius: 10px;

  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.9);
  width: 500px;
  /* Increased width for a more rectangular shape */
  max-width: 90%;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}

input {
  width: 100%;

  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .1);
  /* Slightly transparent white background */
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 6, 128, 0.9);
  /* Slightly transparent green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(0, 100, 90);
  /* Darker green on hover */
}

p {
  text-align: center;
  color: black;
  margin-top: 20px;
}

a {
  color: #0000ff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: #000080;
}

h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}
